@import "../../scss/app.scss"; 

.ErrorPage {
 
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__title {
  
    font-weight: 900;
    font-size: 80px;
  }

  &__link {

    color: blue;
    text-decoration: none;
  }

  &__wrap {

    background: white;
    border-radius: 15px;
    padding: 80px 100px;
  }
}
